.header {
    background-color: #dbdbdb;
    padding: 2px;
    text-align: center;
    color: rgb(59, 59, 59);
  }
  
  /* Styles for the h1 element inside the header */
  .header-title {
    font-size: 2.5em;
    margin: 0;
  }
  
  /* Styles for the p element inside the header */
  .header-subtitle {
    font-size: 1.2em;
    margin: 10px 0 0;
  }