* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 12px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(15, 40%, 98%);
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.layout {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: auto;
}

.header_2 {
  /* border: 2px solid black; */
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 20rem;
  max-width: 350px;
}

.main-content {
  display: flex;
  flex-grow: 1;
}

.container {
  /* border: 1px solid black; */
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  padding-left: 3rem;
  padding-right: 3rem;
  gap: 3rem;
  max-width: 1200px;
}

.about {
  /* border: 1px solid black; */
  min-width: 20rem;
  max-width: 350px;
  height: 100vh;
  flex-grow: 1;
  flex-shrink: 0;
  overflow-y: hidden;
  /* transition: opacity 0.3s ease; */
}

.about_container {
  transition: opacity 0.15s ease;
  opacity: 0;
}

.about_container.visible {
  transition: opacity 0.15s ease;
  opacity: 1;
}

.about_container.hidden {
  transition: opacity 0.15s ease;
  opacity: 0;
}

.ag_Container {
  /* border: 1px solid black; */
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  max-width: 1200px;
  overflow-y: hidden;
}

.ag_thumb {
  /* border: 1px solid black; */
  width: 150px;
  height: calc(100% - 1.35rem);
  margin-left: 1px;
  margin-right: 1px;
  overflow: hidden;
  position: relative;
  /* clip-path:polygon(0% 0%, 100% 0%, 100% 95%, 0% 95%); */
}

.arch_gl_thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.agp_container {
  /* border: 1px solid black; */
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
  max-width: 1200px;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}

.agp_title {
  align-self: start;
  /* border: 1px solid black; */
}

.agp_main_image_container {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  flex-grow: 1;
  max-width: 100%;
  max-width: 974px;
  max-height: 75vh;
  /* overflow: hidden; */
}

.agp_main_image {
  position: relative;
  align-self: center;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  overflow: hidden;
}

.agp_thumbs_container {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  height: 13vh;
  justify-content: space-between;
  flex-grow: 0;
  flex-shrink: 1;
  gap: 2px;
}

.agp_thumb {
  /* border: 1px solid black; */
  /* background-color: #ff6767; */
  flex-grow: 1;
  height: 110px;
  width: 160px;
  overflow: hidden;
}

.agp_thumb_image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.agp_back_button {
    cursor: pointer; 
}


.footer {
  position: fixed;
  bottom: 1.35rem;
  width: 11rem;
  text-align: center;
  /* border: 1px solid black; */
}

.thumb_all {
  /* border: 1px solid black; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.thumb_arch_title {
  font-size: 1rem;
  position: absolute;
  bottom: 1.35rem;
  left: 0;
}

.thumb_arch {
  display: flex;
  justify-content: flex-start;
  height: 100dvh;
  width: 28.3rem;
  position: relative;
  overflow: hidden;
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 95%);
}

.thumb_arch_image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 150%;
  object-fit: cover;
  overflow: hidden;
  transform: translate(-66.5%, -48%) scale(1);
  filter: saturate(80%) brightness(100%) opacity(60%);
  transition: filter 0.4s ease;
}

.thumb_arch_image:hover {
  filter: saturate(100%) brightness(110%) opacity(100%);
}

.thumb_med {
  display: flex;
  justify-content: flex-start;
  height: 100dvh;
  width: 28.3rem;
  position: relative;
  overflow: hidden;
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 95%);
}

.thumb_med_image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 150%;
  object-fit: cover;
  overflow: hidden;
  transform: translate(-20%, -54%) scale(1.28);
  filter: saturate(40%) brightness(90%) opacity(40%);
  transition: filter 0.4s ease;
}

.thumb_med_image:hover {
  filter: saturate(70%) brightness(105%) opacity(100%);
}

.pr_categories {
  margin-top: 2px;
  animation: slideDown 0.5s ease-out forwards;
}

.pr_categories.slideUp {
  animation: slideUp 0.5s ease-out forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.link_wrapper {
  transition: transform 0.5s ease, margin-top 0.5s ease;
}

.shiftDown {
  transform:  translateY(10px);
}



